<div class="container">
    <div class="c">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>UD Songo</mat-card-title>
              <mat-card-subtitle>UD Songo assalta terceira posição ao bater Matchedje (2-1) de reviravolta</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/uds.jpg" height="220px">
            <mat-card-content>
              <p>
                A União Desportiva do Songo, ultrapassou neste domingo (01/08), o Ferroviário de Maputo, na terceira posição do Moçambola, ao vencer o Matchedje de Mocuba por (2-1), em partida referente à 13a da prova.

                Sidique aos (81') e Lau King aos (90+2), fizeram os tentos de vitória para os "Hidroelétricos".
                
                Luís aos (10'), fez o tento solitário para os "Militares ".
              </p>
            </mat-card-content>
          </mat-card>
          



    </div>
    <div class="d">
        <mat-card class="example-card">
            <mat-card-header>
              
              <mat-card-title>Luis Miquissone</mat-card-title>
              <mat-card-subtitle>Luís Miquissone assina pelo Al Ahly do Egipto</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/drmiquissone.jpg"  >
            <mat-card-content>
              <p>
                O internacional moçambicano, Luís Miquissone, foi confirmado, na tarde de hoje, como novo jogador do Al Ahly do Egipto. Para garantir o passe do valioso jogador, o gigante egípcio terá pago ao Simba SC da Tanzânia, um valor de 900.000, 00 de dólares, cerca de 56.000, 700 (cinquenta e seis milhões e setecentos meticais).
              </p>
            </mat-card-content>
          </mat-card>
          
    </div>
    <div class="b">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>League 1</mat-card-title>
              <mat-card-subtitle>Mexer sitoe</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/mexer.jpg" >
            <mat-card-content>
              <p>
                “Já estou na França há seis anos e sinto-me tão estabelecido no campeonato como no próprio país”, disse Mexer em francês com um sotaque português. “E, se a experiência que estou a adquirir na Europa pode ajudar Moçambique, tanto melhor. É isso que falta à nossa selecção. Obviamente, os adeptos esperam muito de mim porque jogo na Europa, mas acho que isso traz mais apoio do que pressão. Eu sinto que há muito respeito por mim”, revelou.
              </p>
            </mat-card-content>
            </mat-card>
          
    </div>
    <div class="e">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Mocambola</mat-card-title>
              <mat-card-subtitle>Primeira jornada</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/mocjor.jpg" >
            <mat-card-content>
              <p>
                O Ferroviário da Beira recebeu e derrotou o Desportivo de Maputo por 1-0, com um golo marcado já nos descontos da partida, contestado pela equipa da capital.
                Os jogadores do Desportivo alegaram que o remate de Dayo não ultrapassou a linha de golo, mas o árbitro teve entendimento diferente e ordenou a reposição da bola ao meio-campo.
              </p>
            </mat-card-content>
             </mat-card>
          
    </div>
    <div class="a">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Mocambola</mat-card-title>
              <mat-card-subtitle>Resumo</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/mocjor.jpg" >
            <mat-card-content>
              <p>
                O Black Bulls continua invicto e no primeiro lugar isolado no Moçambola, campeonato de futebol moçambicano, após um empate frente ao Costa do Sol na 10.ª jornada, realizada este fim de semana.

                O líder foi jogar a casa da equipa 'canarinha', campeã em título, num encontro entre equipas da área metropolitana de Maputo que terminou com um empate a duas bolas.
              </p>
            </mat-card-content>
             </mat-card>
          

    </div>
  </div>