.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 2fr;
    grid-auto-rows: 2fr;
    gap: 10px 10px;
    grid-auto-flow: column dense;
    justify-items: stretch;
    grid-template-areas:
      "a a e"
      "b c d";
  }
  
  .c { grid-area: c; }
  
  .d { grid-area: d; }
  
  .e { grid-area: e; }
  
  .a { grid-area: a; }
  
  .b { grid-area: b; }
  
  .example-card {
   
    max-height: 100%;
}
  