<div class="conteiner">
<mat-card  >
    <div mat-card-avatar class="avatar"><img src="assets/bola.png" width="50px" height="40px"></div>

    <mat-card-content >
        
<form  #form="ngForm"> 
    <mat-form-field>
    
    <mat-label>Username</mat-label>
    <input matInput name="nome" [(ngModel)]="nome" required >
            
</mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        
        <input matInput  [(ngModel)]="password" type="password" name="password" minlength="4" required >


    </mat-form-field>
    
</form>

</mat-card-content>
<mat-card-actions>
    <button  mat-raised-button (click)="iniciar()" color="primary" [disabled]="form.invalid" ><i class="2rem material-icons"  >lock_open
    </i>Iniciar</button> 
    <button mat-raised-button mat-dialog-close color="warn" ><i class="2rem material-icons"  >input
    </i>Sair</button>
</mat-card-actions>


</mat-card>
</div>