<mat-card >
    <mat-card-title>Adicionar clube </mat-card-title>
    <mat-card-content >
        
        <form  > 
            <mat-form-field>
              
              <mat-label>Nome do clube</mat-label>
        
                <input matInput  [(ngModel)]="c.nome"  name="nome" minlength="4" >

            </mat-form-field>
            
            <mat-form-field>
              
              <mat-label>Ano de fundacao</mat-label>
        
                <input matInput  [(ngModel)]="c.fundacao"  name="alcunha" minlength="4" >

            </mat-form-field>
            
            <mat-form-field>
              
              <mat-label>Proprietario</mat-label>
        
                <input matInput  [(ngModel)]="c.dono"  name="altura" minlength="4" >

            </mat-form-field>
            <mat-form-field>
              <mat-label>Localizacao</mat-label>
        
                <input matInput    [(ngModel)]="c.localizacao"  name="alcunha" minlength="4" >

            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="insira o nome do treinador" [(ngModel)]="c.treinador"  name="alcunha" minlength="4" >

            </mat-form-field>
            


            

              <input mat-raised-button type="file" (change)="selectFile($event)" />
              
            
              <div *ngIf="currentFile" >
                
                <mat-progress-bar mode="buffer" color="warn" value="40" >
              
    
               </mat-progress-bar>
              
              </div>
              
              <mat-error *ngIf="message" >{{ message }}</mat-error>
    
              <div >
                <ul
                  class="list-group list-group-flush"
                  *ngFor="let file of fileInfos | async"
                >
                  <li >
                    <a href="{{ file.url }}">{{ file.name }}</a>
                  </li>
                </ul>
              </div>
            
            
            
        </form>
        
        <button  mat-raised-button (click)="criar()" color="primary" ><i class="2rem material-icons"  >add  

        </i> Adicionar</button> 
        


    </mat-card-content>


</mat-card>


