<p>
    <mat-toolbar class="toolbar">
        <img src="assets/bola.png" alt="logo" width="90px" class="p" >
        <div class="posicao">
            <img src="assets/joga.png" alt="logo" width="80px"  >
                <h1>Mozambique go Footbal</h1>
        <img src="assets/bola.png" alt="logo" width="90px" >
        

        </div>
        
        <div class="conta">
            <mat-nav-list >
            
        <a [matMenuTriggerFor]="appMenu" mat-list-item> 
              <i class="2rem material-icons" >account_circle</i>Minha conta
            
            </a>
            </mat-nav-list>
        </div>
        
        <mat-menu #appMenu="matMenu">
            <mat-nav-list class="nav-listone">
                <a mat-list-item (click)="login()">
                    <i class="1rem material-icons"  >system_update_alt
                    </i>
                    Iniciar Sessão
                  </a>
                  <a mat-list-item (click)="Terminar()">
                    <i class="1rem material-icons"  >input
                    </i>
                    Terminar Sessão
                  </a>
                  <a mat-list-item (click)="cadastrar()">
                    <i class="1rem material-icons"  >person_add
                    </i>
                    Cadastrar
                  </a>
                  
            </mat-nav-list>
           </mat-menu>
         </mat-toolbar>
         
    <mat-toolbar class="toolbarseg">
        <mat-nav-list class="nav-list">
            <a routerLink="noticias" mat-list-item ><i class="2rem material-icons"  >import_contacts
            </i> Noticias</a>
            <a routerLink="jogador" mat-list-item><i class="2rem material-icons"  >remove_red_eye</i> Ver Jogadores</a>
            <a routerLink="clube" mat-list-item><i class="2rem material-icons" >remove_red_eye</i> Ver Clubes</a>
            <a routerLink="searchj" mat-list-item><i class="2rem material-icons" >search</i> Ver Clubes</a>
          
            <a routerLink="criarjogador" mat-list-item><i class="2rem material-icons" >add_circle_outline</i> Adicionar Jogador</a>
                <a routerLink="ciarclube" mat-list-item><i class="2rem material-icons" >add_circle</i> Adicionar Clube</a>
        </mat-nav-list>        
                
        
    </mat-toolbar>


</p>